/* --------------------------------- */
/* Basic Setup */
/* --------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #302f2f;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

a:link,
a:visited {
  text-decoration: none;
  color: #302f2f;
  transition: color 0.5s;
}

a:hover,
a:active {
  color: #c0392b;
}

/* --------------------------------- */
/* Reusable Components */
/* --------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 0;
}

.box {
  padding: 1%;
}

.afterline:after {
  display: block;
  height: 2px;
  background-color: #c0392b;
  content: " ";
  width: 280px;
  margin: 0 auto;
}

/* --------------------------------- */
/* Headings */
/* --------------------------------- */

h1,
h2 {
  font-weight: 400;
}

h1{
  font-size: 3em;
  line-height: 145%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
  margin-top: 10px;
}

/* --------------------------------- */
/* Header */
/* --------------------------------- */

header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/main-img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/main-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
} 


.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-text-box h1,
.hero-text-box h2 {
  color: #fff;
}

.hero-text-box h1:after {
  display: block;
  height: 2px;
  background-color: #c0392b;
  content: " ";
  width: 280px;
}

.fixed {
  background-color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #cccccc;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 40px;
  list-style: none;
  margin-top: 15px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}


.main-nav li a:link,
.main-nav li a:visited{
    color: #302f2f;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 3px 4px;
    transition: color 0.5s, border 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
  color: #c0392b;
  border: 1px solid #c0392b;
  border-radius: 100px;
  padding: 3px 4px;
}

/* --------------------------------- */
/* About Section */
/* --------------------------------- */

.abouttitle{
  width: 100%;
  margin: 40px 0;
  text-align: center;
}

.aboutme{
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

/* Icons */
.aboutme img {
  height: 50px;
  margin: 0 10px;
}
/*--*/


.seoul{
  width: 90%;
  margin: 0px auto;
  text-align: center;
  font-size: 0.6em;
}

.seoul img{
  width: 80%;
  border-radius: 5px;
}

.travel{
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

.travel img{
  height: 240px;
  width: auto;
  border-radius: 5px;
}

.icons{
  color: black;
  font-size: 50px;
}


/* --------------------------------- */
/* Links Section */
/* --------------------------------- */

.section-links {
  background-color: #eeeeee;
  padding: 1px 0;
}

/* --------------------------------- */
/* Footer */
/* --------------------------------- */

footer {
  background-color: #302f2f;
  color: #f0f0f0;
  padding: 40px 0;
  font-size: 0.7em;
}

footer p {
  text-align: center;
}