/* --------------------------------- */
/* Basic Setup */
/* --------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #302f2f;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* --------------------------------- */
/* Reusable Components */
/* --------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
  
/* --------------------------------- */
/* Header */
/* --------------------------------- */

header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/main-img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/main-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
} 

.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}


#nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover{
  background-color: black;
  color: white;
  transition: 0.5s;
}

.bannerwrap{
  background-image: url(./images/main-img.jpg);
  height: 100vmin;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannertext{
  width: 80%;
  position: absolute;
  text-align: left;
  padding-left: 5%;
  margin-top: 200px;
  height: auto;
}
.bannertext h1{
  font-family: 'Quicksand',cursive;
  color: white;
  font-size: 5vmax;
}
.bannertext h2{
  font-family: 'Quicksand',cursive;
  color: white;
  margin-top: -20px;
  font-size: 3vmax;
}

.abouttitle{
  width: 100%;
  margin: 50px 0;
  background-color: inherit;
  text-align: center;
  font-family:'Quicksand', cursive;
}

.aboutme{
  font-family:'Quicksand', cursive;
  background-color: inherit;
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.seoul{
  width: 90%;
  margin: 0px auto;
  text-align: center;
  font-family: 'Quicksand', cursive;
  columns: 2;
  column-gap: 5px;
  font-size: 12px;
}

.seoul img{
  width: 40vmax;
  border-radius: 5px;
}

.travel{
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

.travel img{
  height: 240px;
  width: auto;
  border-radius: 5px;
}

.icons{
  color: black;
}


@media only screen and (max-width:920px) {
  .bannertext{
    margin-top: 150px;
  }
}

@media only screen and (max-width:700px) {
  .seoul{
    columns: 1;
  }
}

@media only screen and (max-width:810px) {
  .travel img{
    height: 200px;
  }
}

@media only screen and (max-width:675px) {
  .travel img{
    height: 150px;
  }
}
@media only screen and (max-width:515px) {
  .travel img{
    height: 100px;
  }
}
